.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;;

    .brand-logo {
        color: white;
        font-size: 2.7rem;
    }
    .brand-logo:hover {
        text-decoration: none;
    }



    .nav-links-container {
        display: flex;
        justify-content: space-between;
        
        .nav-link {
            color: white;
            transition: all .2s ease-in-out;
        }

        .nav-link:hover {
            transform: scale(1.1, 1.1);
        }

    }

    @media only screen and (max-width: 767px) {
        .nav-link.email {
            display: none;
        }
    }
}

.auth-nav-color {
    // background: #362066c9; 
    // background-color: #007bff;
    background-color: #00448B;
}