.navbar-nav .nav-item .nav-link {
    color: white;
    margin: 2px;
    text-align: center;
}

.navbar {
    // position: fixed;
    width: 100%;
    height: 8%;
}

.navbar .navbar-nav {
    border-bottom: 2px solid white;
}

.navbar .navbar-brand {
    color: white;
    font-size: 3.2rem;
}
