<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Banka!</title>

  <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
  <div class="main-container">
    <div class="main-container__left">
      <a href="../" class="logo">Ban<span class="logo--green">ka</span></a>
      <p class="main-container__left__message">
        Just some random text here to make this landing page look cool
      </p>
      <div class="building">
        <img src="assets/images/building.jpg" alt="">
      </div>
    </div>

    <div class="main-container__right">
      <div class="main-container__right__header">
        <a href="../" class="logo logo--white">Ban<span class="logo--green">ka</span></a>
        <span class="login-here"><a href="./pages/login.html">Login Here</a></span>
      </div>
      <h1 class="main-container__right__heading">Open an account Today!</h1>
      <button class="main-container__right__join-now"><a href="./pages/register.html">Join Now!</a></button>
      <p class="main-container__right__message">Enjoy the best interest on your savings.</p>
    </div>
  </div>
  <!-- <script src="./assets/scripts/bundle.js"></script> -->
</body>

</html>