.main-container {
  display: flex;
  height: 100%;

  .main-container__left {
    width: 70%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (max-width: 600px) {
      & {
        display: none;
      }
    }

    &__message {
      font-style: italic;
      font-weight: normal;
      font-size: 2.4rem;
      margin-top: 15rem;
      text-align: center;
      color: #529EE4;
    }

    .building {
      margin-top: auto;
      
      img {
        height: 500px;
        width: 50rem;
        margin-top: auto;
      }
    }
  }
  .main-container__right {
    width: 30%;
    // background: #529EE4;
    background: #565695;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
    @media only screen and (max-width: 600px) {
      & {
        width: 100%;
      }
    }

    .main-container__right__header {
      display: flex;
      justify-content: flex-end;

      @media only screen and (max-width: 600px) {
        & {
          justify-content: space-between;
        }
      }

      & .logo {
        display: none;
        @media only screen and (max-width: 600px) {
          & {
            display: block;
          }
        }
      }
    }

    .login-here {
      font-size: 1.5rem;
      margin-top: 2.3rem;
    }
    .login-here a {
      color: white;
      text-decoration: none;
      text-align: right;
    }
    .login-here a:hover {
      text-decoration: underline;
    }

    &__heading {
      text-align: center;
      margin-top: 10rem;
      font-weight: normal;
      @media only screen and (max-width: 600px) {
        & {
          font-size: 2.5rem;
        }
      }
    }

    &__join-now {
      background: #0D6FC7;
      // background: #343477;

      color: white;
      padding: 1rem;
      display: block;
      border: none;
      text-align: center;
      margin: 4rem auto 0 auto;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      & a {
        color: white;
        text-decoration: none;
      }
    }

    &__join-now:hover {
      cursor: pointer;
      box-shadow: 0px 4px 4px rgba(225, 0, 0, 0.25);
    }

    &__message {
      text-align: center;
      font-style: italic;
      font-size: 1.8rem;
      margin-top: 5rem;
    }
  }
}

.logo {
  font-size: 3.8rem;
  color: #565695;
  text-decoration: none;
  font-style: italic;
}
.logo--green {
  color: greenyellow;
}
.logo--white {
  color: white;
}

// Login/Register
.main-container__right {
  & form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto auto;
    margin-top: 30px;

    & input[type="text"], & input[type="password"] {
      padding: 5px;
      padding-left: 0px;
      margin-bottom: 20px;
      background: none;
      border: none;
      border-bottom: 1px solid;
      color: white;
    }

    & input[type="submit"] {
      padding: 10px;
     background: #0D6FC7;
     border: none;
     color: white;
    }

    & input[type="submit"]:hover {
     cursor: pointer;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}