<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Banka!</title>

  <link rel="stylesheet" href="../assets/styles/main.css">
</head>

<body>
  <div class="main-container">
    <div class="main-container__left">
      <a href="../" class="logo">Ban<span class="logo--green">ka</span></a>
      <p class="main-container__left__message">
        Just some random text here to make this landing page look cool
      </p>
      <div class="building">
        <img src="../assets/images/building.jpg" alt="">
      </div>
    </div>

    <div class="main-container__right">
      <div class="main-container__right__header">
        <a href="../" class="logo logo--white">Ban<span class="logo--green">ka</span></a>
        <span class="login-here"><a href="./login.html">Login</a></span>
      </div>
      <h1 class="main-container__right__heading">Create a free account</h1>
      <form action="dashboard.html">
        <input type="text" placeholder="First Name" name="firstName" />
        <input type="text" placeholder="Last Name" name="lastName" />
        <input type="text" placeholder="Email" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <input type="submit" value="Register">
      </form>
    </div>
  </div>
  <!-- <script src="./assets/scripts/bundle.js"></script> -->
</body>

</html>