<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Banka!</title>

  <link rel="stylesheet" href="../assets/styles/main.css">
</head>

<body>
  <div class="page-container">
    <div class="header">
      <a href="../" class="logo">Ban<span class="logo--white">ka</span></a>
      <a href="../" class="logout">Logout</a>
    </div>

    
    <div class="main">
      <div class="side-nav">
        <a href="#" class="side-nav__link">
          <div class="side-nav__link-content-wrapper">
            <img src="../assets/images/money.svg" alt="Accounts" class="side-nav__icon">
            <span class="side-nav__text">Accounts</span>
          </div>
        </a>

        <a href="#" class="side-nav__link">
          <div class="side-nav__link-content-wrapper">
            <img src="../assets/images/money.svg" alt="Accounts" class="side-nav__icon">
            <span class="side-nav__text">Transactions</span>
          </div>
        </a>

          <a href="#" class="side-nav__link">
            <div class="side-nav__link-content-wrapper">
              <img src="../assets/images/money.svg" alt="Accounts" class="side-nav__icon">
              <span class="side-nav__text">Settings</span>
            </div>
          </a>
      </div>


      <div class="content">
        <div class="content__header">
          <div class="content__open-account">
            <span class="open-account">New account</span>
          </div>
          <div class="content__profile" id="profile">
            <img src="../assets/images/profilepic.jpg" alt="">
            <div class="profile__info">
              <p class="name">Samuel Ocran</p>
              <p class="email">sammiestt@gmail.com</p>
              <p class="user">Account Owner</p>
            </div>
          </div>
        </div>
        
        <div class="content__accounts">
          <div class="account">
            <p class="account__status">Active</p>
            <p class="account__number">093355329</p>
            <p class="account__balance">N12,000.00</p>
            <p class="account_type">Savings</p>
          </div>
  
          <div class="account">
            <p class="account__status">Active</p>
            <p class="account__number">093355329</p>
            <p class="account__balance">N12,000.00</p>
            <p class="account_type">Savings</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      footer
    </div>
  </div>

  <!-- <script src="./assets/scripts/bundle.js"></script> -->
</body>

</html>